{% extends 'partials/base.html.twig' %}

{% block content %}
    {# {{ page.content }} #}
    {# <pre> #}
    {# {{ vardump(page.collection()) }} #}
  {# </pre> #}
    {% for module in page.collection() %}
        {# <div id="{{ _self.pageLinkName(module.menu) }}"></div> #}
        {{ module.content }}
    {% endfor %}
{% endblock %}