<section class="ms-about ms-main__subsection">
  <header class="ms-section-header ms-about__header">
    <h2 class="ms-section-header__title ms-main__subtitle">{{ page.header.squad_title }}</h2>
    <p class="ms-section-header__subtitle">{{ page.header.squad_subtitle }}</p>
  </header>

  <section class="ms-about__p">
    {{ content }}
  </section>
</section>